{
  "extends": "standard",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "space-before-function-paren": ["error", "never"]
  }
}
